@page "/CommentToUpdate/{invoiceId}"
@model Elsa.Server.Pages.CommentToUpdateModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{


}

<div>
    <p>Add Your comment</p>

    <form method="post">
        <input name="id" hidden value="@Model.InvoiceId" />
        <input type="text" name="comment" id="comment" placeholder="enter your comments" />
        <input type="submit" />

    </form>
</div>

