@page
@model Elsa.Server.Pages.GetLocalStorageModel
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
}


 <h1>Get Local Storage</h1>
    <script>
        var PERMITTED_DOMAIN = "@Configuration.GetSection("ConsoleHost").Value";
    /**
        * Receiving message from other domain
        */
    window.addEventListener('message', function(event) {
        if (event.origin === PERMITTED_DOMAIN) {
            //var msg = JSON.parse(event.data);
            // var msgKey = Object.keys(msg)[0];
            if (event.data) {
                localStorage.setItem("accessToken", event.data["login"]);
            } else {
                localStorage.removeItem("accessToken");
            }
        }
    });
    </script>