@page "/Login"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Elsa.Server.Pages.LoginModel
@{
}

<head>
     <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
</head>

<section class="vh-100" style="background-color: #508bfc;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <h3 class="mb-5">Sign In</h3>

            <div class="form-outline mb-4">
              <input type="text" id="username" class="form-control form-control-lg" />
              <label class="form-label" for="username">Username</label>
            </div>

            <div class="form-outline mb-4">
              <input type="password" id="password" class="form-control form-control-lg" />
              <label class="form-label" for="password">Password</label>
            </div>
            </div>

            <button class="my-2 btn btn-primary btn-lg btn-block" id="formSubmit">Login</button>

          </div>
        </div>
      </div>
      <div class="position-fixed bottom-0 end-0">
    <div class="toast bg-danger" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header">
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body">
    Authentication Failed !!!
  </div>
</div>
</div>
    </div>
</section>



<script>
    $(document).ready(function(){


        var dummyToken = "eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJtTjJ1NE1hM2Qtc1BRcDBzYnZTUVp1UXpaT19jWDVTSHFuMTE3U1RaRF9jIn0.eyJleHAiOjE2NTQ4OTQyNjYsImlhdCI6MTY1NDg1ODI2NiwianRpIjoiZjE4YWZjMTctNTg4MC00NjRiLThkNTMtMGJlZDM1M2IzYzYyIiwiaXNzIjoiaHR0cHM6Ly9pYW0ta2V5Y2xvYWsubmVvc29mdHRlY2guY29tL2F1dGgvcmVhbG1zL21hc3RlciIsImF1ZCI6WyJUZW5hbnQxLXJlYWxtIiwibWFzdGVyLXJlYWxtIiwiYWNjb3VudCJdLCJzdWIiOiIzODM2ODc2YS0xMjVhLTQ5M2ItYjQzZC03YzAxMzE4ODVlMmIiLCJ0eXAiOiJCZWFyZXIiLCJhenAiOiJhZG1pbi1jbGkiLCJzZXNzaW9uX3N0YXRlIjoiMzcwMjJkMWMtZTFjMC00YWFiLWE5YzgtZWIyZGMyODVmNGY4IiwiYWNyIjoiMSIsInJlYWxtX2FjY2VzcyI6eyJyb2xlcyI6WyJjcmVhdGUtcmVhbG0iLCJkZWZhdWx0LXJvbGVzLW1hc3RlciIsIm9mZmxpbmVfYWNjZXNzIiwiYWRtaW4iLCJ1bWFfYXV0aG9yaXphdGlvbiJdfSwicmVzb3VyY2VfYWNjZXNzIjp7IlRlbmFudDEtcmVhbG0iOnsicm9sZXMiOlsidmlldy1pZGVudGl0eS1wcm92aWRlcnMiLCJ2aWV3LXJlYWxtIiwibWFuYWdlLWlkZW50aXR5LXByb3ZpZGVycyIsImltcGVyc29uYXRpb24iLCJjcmVhdGUtY2xpZW50IiwibWFuYWdlLXVzZXJzIiwicXVlcnktcmVhbG1zIiwidmlldy1hdXRob3JpemF0aW9uIiwicXVlcnktY2xpZW50cyIsInF1ZXJ5LXVzZXJzIiwibWFuYWdlLWV2ZW50cyIsIm1hbmFnZS1yZWFsbSIsInZpZXctZXZlbnRzIiwidmlldy11c2VycyIsInZpZXctY2xpZW50cyIsIm1hbmFnZS1hdXRob3JpemF0aW9uIiwibWFuYWdlLWNsaWVudHMiLCJxdWVyeS1ncm91cHMiXX0sIm1hc3Rlci1yZWFsbSI6eyJyb2xlcyI6WyJ2aWV3LWlkZW50aXR5LXByb3ZpZGVycyIsInZpZXctcmVhbG0iLCJtYW5hZ2UtaWRlbnRpdHktcHJvdmlkZXJzIiwiaW1wZXJzb25hdGlvbiIsImNyZWF0ZS1jbGllbnQiLCJtYW5hZ2UtdXNlcnMiLCJxdWVyeS1yZWFsbXMiLCJ2aWV3LWF1dGhvcml6YXRpb24iLCJxdWVyeS1jbGllbnRzIiwicXVlcnktdXNlcnMiLCJtYW5hZ2UtZXZlbnRzIiwibWFuYWdlLXJlYWxtIiwidmlldy1ldmVudHMiLCJ2aWV3LXVzZXJzIiwidmlldy1jbGllbnRzIiwibWFuYWdlLWF1dGhvcml6YXRpb24iLCJtYW5hZ2UtY2xpZW50cyIsInF1ZXJ5LWdyb3VwcyJdfSwiYWNjb3VudCI6eyJyb2xlcyI6WyJtYW5hZ2UtYWNjb3VudCIsIm1hbmFnZS1hY2NvdW50LWxpbmtzIiwidmlldy1wcm9maWxlIl19fSwic2NvcGUiOiJwcm9maWxlIGVtYWlsIiwic2lkIjoiMzcwMjJkMWMtZTFjMC00YWFiLWE5YzgtZWIyZGMyODVmNGY4IiwiZW1haWxfdmVyaWZpZWQiOmZhbHNlLCJuYW1lIjoiU2FudG9zaCBTaGluZGUiLCJwZXJtaXNzaW9uIjpbImNyZWF0ZSIsInZpZXciLCJlZGl0IiwiZGVsZXRlIl0sInByZWZlcnJlZF91c2VybmFtZSI6ImFkbWluIiwiZ2l2ZW5fbmFtZSI6IlNhbnRvc2giLCJmYW1pbHlfbmFtZSI6IlNoaW5kZSIsImVtYWlsIjoic2FudG9zaC5zaGluZGVAbmVvc29mdHRlY2guY29tIn0.I2Oc4qcGIKt9KoYCq-CNSM5Tr294Sb2_C8xAfliePtQCGt2tjGNGLKFeQI39cZWORNNgni-y1kouCjLe4tER6dgq2QHSV-5VRiiaXmEX0Z5ktGrRAsFF_G1O8QYlqgSxESPqE_2MHHV5fI7BsgTMcjRtQgV2yKtQi6hycxum33l0slrQoHwx6wO4oc38-iqcPovNrm0Vy1au-PtF9TGCK8uwDtliN5-7W8aLLRqCZSG2ykGOKZUJVaXxJLOClhhrN3l-tNH7FJU5RXsJaYiaToiBbptDqPqbxQwR-C7Y2LZbR2k5_ieCEvAOZryI2fUitgz260NFZtAg73Pm0S-Ulg";

        var currentPath = window.location.pathname;
        var param = window.location.search;
        //if(localStorage.accessToken != null && localStorage.scopes != null)
        //{
        //     window.location = "/";
        //}

        var toast = new bootstrap.Toast($(".toast"));
        $("#formSubmit").click((event)=>{
            event.preventDefault(); 
            var user = document.getElementById("username").value;
            var pass = document.getElementById("password").value;
            var payload = {"username":user,"password":pass};

            if(user == "admin" && pass == "admin")
            {
                  localStorage.accessToken = dummyToken;
                  //getUserPermissions();
                   setTimeout(()=>{
                    window.location = "/";
                    },100);
            }
            else
            {
                InvalidAuth();
            }
            //var url = "/Auth/Authenticate" 
            
            //$.ajax({    
            //    type: "POST",
            //    url: url,
            //    data: JSON.stringify(payload),
            //    dataType: "json",
            //    contentType: "application/json",
            //    success: function(result) {
            //        localStorage.accessToken = result.access_token;
            //        ValidAuth();
            //        getUserPermissions();
            //        setTimeout(()=>{
            //        window.location = "/";
            //        },100);
            //    },  
            //    error: function(jqXHR, textStatus, errorThrown) {  
            //        console.log(textStatus+"          "+errorThrown + "     "+jqXHR);
            //        InvalidAuth();
            //}  
            });

            // Setting static value temporarily till accessToken is been not received from console
            

  //  localStorage.scopes = JSON.stringify([{"scopes":["view","edit","create"],"rsId":"460a5d16-9a1c-4081-9920-7579cc96c3bf","rsName":"workflow-definitions"},{"scopes":["view","edit","create"],"rsId":"a17ecabb-42bd-494f-a4de-8aa0486ccc06","rsName":"workflow-instances"}]);
  //window.location = "/";
  //      });


        const getUserPermissions = () => {
            var payload = {'request':{}};
            var url = "/Auth/getuserpermissions?accessToken="+localStorage.accessToken;
            $.ajax({        
                type: "POSt",
                url: url,
                data: JSON.stringify(payload),
                dataType: "json",
                contentType: "application/json",
                success: function(result) {
                    localStorage.scopes = JSON.stringify(result);
                    ValidAuth();
                    return result;
                },  
                error: function(jqXHR, textStatus, errorThrown) {  
                    console.log(" getPErm error" +textStatus+"          "+errorThrown + "     "+jqXHR);
                    InvalidAuth();
            }  
            });
        };

        const InvalidAuth = () => {
            $('#username').removeClass("is-valid");
            $('#username').addClass("is-invalid");
            $('#password').removeClass("is-valid");
            $('#password').addClass("is-invalid");
            toast.show();
        }
        const ValidAuth = () => {
            $('#username').removeClass("is-invalid");
            $('#username').addClass("is-valid");
            $('#password').removeClass("is-invalid");
            $('#password').addClass("is-valid");
        }
    });

    
</script>