@page "/Login"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Elsa.Server.Pages.LoginModel
@{
}

<head>
     <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
</head>

<section class="vh-100" style="background-color: #508bfc;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <h3 class="mb-5">Sign In</h3>

            <div class="form-outline mb-4">
              <input type="text" id="username" class="form-control form-control-lg" />
              <label class="form-label" for="username">Username</label>
            </div>

            <div class="form-outline mb-4">
              <input type="password" id="password" class="form-control form-control-lg" />
              <label class="form-label" for="password">Password</label>
            </div>
            </div>

            <button class="my-2 btn btn-primary btn-lg btn-block" id="formSubmit">Login</button>

          </div>
        </div>
      </div>
      <div class="position-fixed bottom-0 end-0">
    <div class="toast bg-danger" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header">
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body">
    Authentication Failed !!!
  </div>
</div>
</div>
    </div>
</section>



<script>
    $(document).ready(function(){


        var dummyToken = "eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJtTjJ1NE1hM2Qtc1BRcDBzYnZTUVp1UXpaT19jWDVTSHFuMTE3U1RaRF9jIn0.eyJleHAiOjE2NTUyMzAyMzAsImlhdCI6MTY1NTE5NDIzMCwianRpIjoiZDViNWI1MmQtYzQwZi00ZDU0LTlhZDQtZDkxMDE1OWUxNjU0IiwiaXNzIjoiaHR0cHM6Ly9pYW0ta2V5Y2xvYWsubmVvc29mdHRlY2guY29tL2F1dGgvcmVhbG1zL21hc3RlciIsImF1ZCI6WyJUZW5hbnQxLXJlYWxtIiwibWFzdGVyLXJlYWxtIiwiYWNjb3VudCIsIlRlbmFudDItcmVhbG0iXSwic3ViIjoiMzgzNjg3NmEtMTI1YS00OTNiLWI0M2QtN2MwMTMxODg1ZTJiIiwidHlwIjoiQmVhcmVyIiwiYXpwIjoiYWRtaW4tY2xpIiwic2Vzc2lvbl9zdGF0ZSI6ImNlNDU3Y2ZhLTJmOTItNGM4OC05MzgzLTI1YWMxMmRjOTE2YyIsImFjciI6IjEiLCJyZWFsbV9hY2Nlc3MiOnsicm9sZXMiOlsiY3JlYXRlLXJlYWxtIiwiZGVmYXVsdC1yb2xlcy1tYXN0ZXIiLCJvZmZsaW5lX2FjY2VzcyIsImFkbWluIiwidW1hX2F1dGhvcml6YXRpb24iXX0sInJlc291cmNlX2FjY2VzcyI6eyJUZW5hbnQxLXJlYWxtIjp7InJvbGVzIjpbInZpZXctcmVhbG0iLCJ2aWV3LWlkZW50aXR5LXByb3ZpZGVycyIsIm1hbmFnZS1pZGVudGl0eS1wcm92aWRlcnMiLCJpbXBlcnNvbmF0aW9uIiwiY3JlYXRlLWNsaWVudCIsIm1hbmFnZS11c2VycyIsInF1ZXJ5LXJlYWxtcyIsInZpZXctYXV0aG9yaXphdGlvbiIsInF1ZXJ5LWNsaWVudHMiLCJxdWVyeS11c2VycyIsIm1hbmFnZS1ldmVudHMiLCJtYW5hZ2UtcmVhbG0iLCJ2aWV3LWV2ZW50cyIsInZpZXctdXNlcnMiLCJ2aWV3LWNsaWVudHMiLCJtYW5hZ2UtYXV0aG9yaXphdGlvbiIsIm1hbmFnZS1jbGllbnRzIiwicXVlcnktZ3JvdXBzIl19LCJtYXN0ZXItcmVhbG0iOnsicm9sZXMiOlsidmlldy1pZGVudGl0eS1wcm92aWRlcnMiLCJ2aWV3LXJlYWxtIiwibWFuYWdlLWlkZW50aXR5LXByb3ZpZGVycyIsImltcGVyc29uYXRpb24iLCJjcmVhdGUtY2xpZW50IiwibWFuYWdlLXVzZXJzIiwicXVlcnktcmVhbG1zIiwidmlldy1hdXRob3JpemF0aW9uIiwicXVlcnktY2xpZW50cyIsInF1ZXJ5LXVzZXJzIiwibWFuYWdlLWV2ZW50cyIsIm1hbmFnZS1yZWFsbSIsInZpZXctZXZlbnRzIiwidmlldy11c2VycyIsInZpZXctY2xpZW50cyIsIm1hbmFnZS1hdXRob3JpemF0aW9uIiwibWFuYWdlLWNsaWVudHMiLCJxdWVyeS1ncm91cHMiXX0sImFjY291bnQiOnsicm9sZXMiOlsibWFuYWdlLWFjY291bnQiLCJtYW5hZ2UtYWNjb3VudC1saW5rcyIsInZpZXctcHJvZmlsZSJdfSwiVGVuYW50Mi1yZWFsbSI6eyJyb2xlcyI6WyJ2aWV3LXJlYWxtIiwidmlldy1pZGVudGl0eS1wcm92aWRlcnMiLCJtYW5hZ2UtaWRlbnRpdHktcHJvdmlkZXJzIiwiaW1wZXJzb25hdGlvbiIsImNyZWF0ZS1jbGllbnQiLCJtYW5hZ2UtdXNlcnMiLCJxdWVyeS1yZWFsbXMiLCJ2aWV3LWF1dGhvcml6YXRpb24iLCJxdWVyeS1jbGllbnRzIiwicXVlcnktdXNlcnMiLCJtYW5hZ2UtZXZlbnRzIiwibWFuYWdlLXJlYWxtIiwidmlldy1ldmVudHMiLCJ2aWV3LXVzZXJzIiwidmlldy1jbGllbnRzIiwibWFuYWdlLWF1dGhvcml6YXRpb24iLCJtYW5hZ2UtY2xpZW50cyIsInF1ZXJ5LWdyb3VwcyJdfX0sInNjb3BlIjoicHJvZmlsZSBlbWFpbCIsInNpZCI6ImNlNDU3Y2ZhLTJmOTItNGM4OC05MzgzLTI1YWMxMmRjOTE2YyIsImVtYWlsX3ZlcmlmaWVkIjpmYWxzZSwibmFtZSI6IlNhbnRvc2ggU2hpbmRlIiwicGVybWlzc2lvbiI6WyJjcmVhdGUiLCJ2aWV3IiwiZWRpdCIsImRlbGV0ZSJdLCJwcmVmZXJyZWRfdXNlcm5hbWUiOiJhZG1pbiIsImdpdmVuX25hbWUiOiJTYW50b3NoIiwiZmFtaWx5X25hbWUiOiJTaGluZGUiLCJlbWFpbCI6InNhbnRvc2guc2hpbmRlQG5lb3NvZnR0ZWNoLmNvbSJ9.mJ2hNmREiYpUb4Mid7qR9yyqnsKA6QeGoazK2lLNuUaW6sZ3u6AaGvW4LwKgu0U5Bw8O2YBhKNhbic3ejUit7KaJTfZtWs5LWXv48kPODXF0U9pP2xAPH94Qh_PTMAtvc7V57HOfJLvf9W6DNk5LL_AKnsaJ3zwfcerpauiCLIfPZ_hgAENXzqPPKdunIDaz-5VHBLRSQQMGKQVVgxiFPoAJAwJUuXPgpkz-PqtbT9DfdA1u-jnuHBJHcV1Ye9Jd4kMMaiaAmVxoAsZEstQTnE6cRMkB9l8dyh0zOwruf6AZsWl493JDNeedHZ6FJ_maIOpSQq5MnctEbmgufU9q1Q";

        var currentPath = window.location.pathname;
        var param = window.location.search;
        //if(localStorage.accessToken != null && localStorage.scopes != null)
        //{
        //     window.location = "/";
        //}

        var toast = new bootstrap.Toast($(".toast"));
        $("#formSubmit").click((event)=>{
            event.preventDefault(); 
            var user = document.getElementById("username").value;
            var pass = document.getElementById("password").value;
            var payload = {"username":user,"password":pass};

            if(user == "admin" && pass == "admin")
            {
                  localStorage.accessToken = dummyToken;
                  ValidAuth();
                  //getUserPermissions();
                   setTimeout(()=>{
                    window.location = "/";
                    },100);
            }
            else
                InvalidAuth();
            });


        //const getUserPermissions = () => {
        //    var payload = {'request':{}};
        //    var url = "/Auth/getuserpermissions?accessToken="+localStorage.accessToken;
        //    $.ajax({        
        //        type: "POSt",
        //        url: url,
        //        data: JSON.stringify(payload),
        //        dataType: "json",
        //        contentType: "application/json",
        //        success: function(result) {
        //            localStorage.scopes = JSON.stringify(result);
        //            ValidAuth();
        //            return result;
        //        },  
        //        error: function(jqXHR, textStatus, errorThrown) {  
        //            console.log(" getPErm error" +textStatus+"          "+errorThrown + "     "+jqXHR);
        //            InvalidAuth();
        //    }  
        //    });
        //};

        const InvalidAuth = () => {
            $('#username').removeClass("is-valid");
            $('#username').addClass("is-invalid");
            $('#password').removeClass("is-valid");
            $('#password').addClass("is-invalid");
            toast.show();
        }
        const ValidAuth = () => {
            $('#username').removeClass("is-invalid");
            $('#username').addClass("is-valid");
            $('#password').removeClass("is-invalid");
            $('#password').addClass("is-valid");
        }
    });

    
</script>